<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!--custoer form grou-->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                        <!-- .invalid = did validations fail? , .dirty=user change field value? , .touched=field loose focus?-->
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="firstName.errors.required">
                                        First Name Is required
                                    </div>

                                    <div *ngIf="firstName.errors.minlength || firstName.errors.notOnlyWhiteSpace">
                                        First Name must be at least 2 characters long
                                    </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                   

                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">

                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="firstName.errors.required || lastName.errors.notOnlyWhiteSpace">
                                        Last Name Is required
                                    </div>

                                    <div *ngIf="firstName.errors.minlength">
                                        Last Name must be at least 2 characters long
                                    </div>

                                    </div>


                            </div>
                        </div>
                    </div>
              


                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">


                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="email.errors.required">
                                        Email Is required
                                    </div>

                                    <div *ngIf="email.errors.pattern">
                                        Email must be a valid email address format
                                    </div>

                                    </div>

                            </div>
                        </div>
                    </div>
                </div>


                <!--shipping address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName= "country" (change)="getProvinces('shippingAddress')" > <!--name of form control to detern=minee to get provice for shipping or billing-->
                                    <option *ngFor="let country of countries" [ngValue]="country"> <!--keep reference for counrty object to use it later-->
                                            {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="shippingAddressCountry.errors.required">
                                        Country Is required
                                    </div>

                                    </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="shippingAddressStreet.errors.required ">
                                        Street Is required
                                    </div>

                                    <div *ngIf="shippingAddressStreet.errors.minlength || shippingAddressStreet.errors.notOnlyWhiteSpace">
                                        Street must be at least 2 characters long
                                    </div>

                                    </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="shippingAddressCity.errors.required  || shippingAddressCity.errors.notOnlyWhiteSpace">
                                        City Is required
                                    </div>
                                    <div *ngIf="shippingAddressCity.errors.minlength">
                                       City must be at least 2 characters long
                                    </div>

                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Province</label></div>
                        <div class="input-space">
                            <div class="col-md-9">
                                <select formControlName="province">
                                    <option *ngFor="let province of shippingAddressProvinces" [ngValue]="province">
                                        {{ province.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressProvince.invalid && (shippingAddressProvince.dirty || shippingAddressProvince.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="shippingAddressProvince.errors.required">
                                        Province Is required
                                    </div>

                                    </div>



                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-2"> <label>Postal Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="postCode" type="text    ">
                                <div *ngIf="shippingAddressPostCode.invalid && (shippingAddressPostCode.dirty || shippingAddressPostCode.touched)" class="alert alert-danger mt-1"> -->
                                    
                                     <div *ngIf="shippingAddressPostCode.errors.minlength ">
                                        Postal Code must be at least 2 characters long 
                                    </div> 
                                    <div *ngIf="shippingAddressPostCode.errors.required || shippingAddressPostCode.errors.notOnlyWhiteSpace">
                                        Postal Code Is required
                                    </div> 

                                    </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span> Billing Address same as Shipping Address
                    </label>
                </div>





                <!--billing address-->

                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getProvinces('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country"> <!--keep reference for counrty object to use it later-->
                                        {{country.name }}
                                </option>
                                </select>
                                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="billingAddressCountry.errors.required">
                                        Country Is required
                                    </div>

                                    </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="billingAddressStreet.errors.required|| billingAddressStreet.errors.notOnlyWhiteSpace">
                                        Street Is required
                                    </div>
                                    
                                    <div *ngIf="billingAddressStreet.errors.minlength ">
                                        Street  must be at least 2 characters long
                                    </div>

                                    </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="billingAddressCity.errors.required ">
                                        City Is required
                                    </div>
                                    <div *ngIf="billingAddressCity.errors.minlength || billingAddressCity.errors.notOnlyWhiteSpace">
                                        Street  must be at least 2 characters long
                                    </div>


                                    </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Province</label></div>
                        <div class="input-space">
                            <div class="col-md-9">
                                <select formControlName="province" (change)="getProvinces('billingAddressProvinces')"><!--for keeping billingAddressProvinces independed from  the shippingAddress-->
                                    <option *ngFor="let province of billingAddressProvinces" [ngValue]="province">
                                        {{ province.name }}
                                    </option>
                                </select>

                                <div *ngIf="billingAddressProvince.invalid && (billingAddressProvince.dirty || billingAddressProvince.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="billingAddressProvince.errors.required">
                                        Province Is required
                                    </div>

                                    </div>


                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-2"> <label>Postal Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="postCode" type="text">
                                <div *ngIf="billingAddressPostCode.invalid && (billingAddressPostCode.dirty || billingAddressPostCode.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="billingAddressPostCode.errors.required || billingAddressPostCode.errors.notOnlyWhiteSpace"> 
                                        Postal Code  Is required
                                    </div>
                                    <div *ngIf="billingAddressPostCode.errors.minlength ">
                                        Postal Code must be at least 2 characters long
                                    </div>


                                    </div>


                            </div>
                        </div>
                    </div>







                </div>

                <!--Credit card info-->

                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card Information</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>

                                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="creditCardType.errors.required">
                                        Credit Card Is required
                                    </div>

                                    </div>


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="creditCardNameOnCard.errors.required|| creditCardNameOnCard.errors.notOnlyWhiteSpace">
                                        Credit Card Is required
                                    </div>
                                    <div *ngIf="creditCardNameOnCard.errors.minlength ">
                                       Name on Card must be at least 2 characters long
                                    </div>

                                    </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">

                                <!-- <div *ngIf="creditCardNumber.invalid && ( creditCardNumber.dirty ||  creditCardNumber.touched)" class="alert alert-danger mt-1">
                    
                                    <div *ngIf="creditCardNumber.errors.required ">
                                        Credit Card Number  Is required
                                    </div> -->
                                    <!-- <div *ngIf="creditCardNumber.errors.pattern">
                                        Card Number must be at 16 digits long
                                     </div> -->
                                    

                                    <!-- </div> -->

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="input-space">
                            <div class="col-md-9">
                                <input formControlName="securityCode" type="text">

                                <!-- <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" class="alert alert-danger mt-1">
                                    
                                    <div *ngIf="creditCardSecurityCode.errors.required">
                                        Security Code Number  Is required
                                    </div>
                                    
                                    <div *ngIf="creditCardSecurityCode.errors.pattern">
                                        Security Code must be at 3 digits long
                                     </div>
                                   
                                    

                                    </div> -->


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Month</label></div>
                        <div class="input-space">
                            <div class="col-md-9">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Year</label></div>
                        <div class="input-space">
                            <div class="col-md-9">
                                <select formControlName="expirationYear" (click)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <!--order details (review)-->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: {{ totalQuantity}} </p>
                    <p> Shipping : FREE</p>
                    <p>Total Price: {{ totalPrice | currency :'USD' }} </p>
                </div>


                <!--submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>


</div>